<!DOCTYPE html>
<html lang = "en">
   <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <meta name="theme-color" content="#000000" />
      <meta
      name="description"
      content="Sample site for SQL queries using Flask and Flask_SQLAlchemy"
    />

    <title>React</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
   </head>
   <body>
      <h3>
         <a href = "{{ url_for('show_all') }}">Flask
            SQLAlchemy Example</a>
      </h3>
      <form action = "http://localhost:3000/docs" method = "POST">
         <p>Query <input type = "text" name = "query" /></p>
         <p><input type = "submit" value = "submit" /></p>
      </form>
      {% if results == 0 %}
      <h4> Please enter a SQL query and press the 'Submit' button</h4>
      {% else %}
      <table>
         <thead>
            <tr>
            {% for key in results.keys() %}
                  <td>{{ key }}</td>
            {% endfor %}
            </tr>
         </thead>
         <tbody>
            {% for result in results %}
               <tr>
                  {% for key in results.keys() %}
                  <td>{{ result[key] }}</td>
                  {% endfor %}
               </tr>
            {% endfor %}
         </tbody>
      </table>
      {% endif %}
   </body>
</html>